menu "MPR121 Configuration"

    config MPR121_I2C_TIMEOUT_MS
        int "I2C Timeout (ms)"
        default 1000
        help
            Timeout for I2C read/write operations in milliseconds. Set to -1 to wait forever.

endmenu